[Unit]
Description=Node control agent

[Service]
Type=simple
ExecStart=/opt/ctla/bin/ctla
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=12
RestartSec=5

[Install]
WantedBy=multi-user.target