[Unit]
Description=Control plane Restic server instance
Documentation=https://github.com/DavidePrincipi/ns8-scratchpad
Requires=create-restic-server.service
After=create-restic-server.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStart=/usr/bin/podman start restic-server
ExecStop=/usr/bin/podman stop restic-server
ExecStopPost=/usr/bin/podman stop restic-server
PIDFile=%t/restic-server.pid
Type=forking

[Install]
WantedBy=default.target
