[Unit]
Description=Samba AD Domain Controller

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a nsdc
ExecStop=/usr/bin/podman stop -t 10 nsdc

[Install]
WantedBy=multi-user.target
