[Unit]
Description=Podman container-postfix.service
Documentation=man:podman-generate-systemd(1)
BindsTo=pod-mail.service
After=pod-mail.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-postfix.pid %t/container-postfix.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/container-postfix.pid \
    --cidfile=%t/container-postfix.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file=%t/pod-mail.pod-id \
    --replace --name=postfix \
    --volume=postfix-queue:/var/spool/postfix \
    --env-file=./environment \
    ghcr.io/nethserver/mail-postfix:latest

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-postfix.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-postfix.ctr-id
PIDFile=%t/container-postfix.pid
Type=forking
WorkingDirectory=%S/state
