[Unit]
Description=Podman postfix.service
Documentation=man:podman-generate-systemd(1)
BindsTo=mail.service
After=mail.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/postfix.pid %t/postfix.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/postfix.pid \
    --cidfile=%t/postfix.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file=%t/mail.pod-id \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=postfix-queue:/var/spool/postfix \
    --env-file=./environment \
    ${POSTFIX_IMAGE}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/postfix.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/postfix.ctr-id
PIDFile=%t/postfix.pid
Type=forking
WorkingDirectory=%S/state
