[Unit]
Description=Podman loki.service
Requires=loki-server.service traefik.service
Before=loki-server.service traefik.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/loki.pid %t/loki.pod-id
ExecStartPre=/usr/bin/podman pod create \
    --infra-conmon-pidfile %t/loki.pid \
    --pod-id-file %t/loki.pod-id \
    --name loki \
    -p 127.0.0.1:3100:13100 \
    --replace \
    --network=slirp4netns:allow_host_loopback=true
ExecStart=/usr/bin/podman pod start --pod-id-file %t/loki.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/loki.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/loki.pod-id
PIDFile=%t/loki.pid
Type=forking

[Install]
WantedBy=default.target
