[Unit]
Description=Dokuwiki instance

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=/bin/rm -f %t/dokuwiki.pid %t/dokuwiki.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/dokuwiki.pid --cidfile %t/dokuwiki.ctr-id --cgroups=no-conmon --replace --log-driver journald --name dokuwiki -d -p 127.0.0.1:8080:8080 -v dokuwiki-data:/bitnami/dokuwiki docker.io/bitnami/dokuwiki:latest 
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/dokuwiki.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/dokuwiki.ctr-id
PIDFile=%t/dokuwiki.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
