[Unit]
Description=Rootfull %i agent

[Service]
Type=simple
Environment=AGENT_ID=module/%i
Environment=AGENT_INSTALL_DIR=/var/lib/nethserver/%i
Environment=AGENT_STATE_DIR=/var/lib/nethserver/%i/state
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=-/var/lib/nethserver/%i/state/agent.env
WorkingDirectory=/var/lib/nethserver/%i/state
ExecStart=/usr/local/bin/agent \
    --agentid=${AGENT_ID} \
    --actionsdir=${AGENT_BASEACTIONS_DIR} \
    --actionsdir=${AGENT_INSTALL_DIR}/actions \
    --eventsdir=${AGENT_INSTALL_DIR}/events
Restart=always
SyslogIdentifier=agent@%i

[Install]
WantedBy=default.target
