[Unit]
Description=Cluster API server
Wants=api-server-motd.service

[Service]
Type=simple
Environment=GIN_MODE=release
Environment=LISTEN_ADDRESS=:9311
Environment=REDIS_ADDRESS=127.0.0.1:6379
Environment=AUDIT_FILE=/var/lib/nethserver/api-server/audit.db
EnvironmentFile=-/etc/nethserver/api-server.env
ExecStart=/usr/local/bin/api-server
ExecStartPost=-+/usr/local/bin/api-server-motd
ExecStopPost=+rm -vf /etc/issue.d/api-server.issue /etc/motd.d/api-server
Restart=always
User=api-server
RuntimeDirectory=api-server/tokens
RuntimeDirectoryMode=0700
RuntimeDirectoryPreserve=restart
SyslogIdentifier=%N

[Install]
WantedBy=multi-user.target
