[Unit]
Description=%I events gateway
ConditionPathExists=/var/lib/nethserver/%i/state/eventsgw.conf
After=agent@%i.service

[Service]
Type=simple
Environment=AGENT_ID=module/%I
Environment=AGENT_INSTALL_DIR=/var/lib/nethserver/%i
Environment=AGENT_STATE_DIR=/var/lib/nethserver/%i/state
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=-/var/lib/nethserver/%i/state/agent.env
WorkingDirectory=/var/lib/nethserver/%i/state
ExecStart=/usr/local/bin/eventsgw
Restart=always
SyslogIdentifier=%i-eventsgw

[Install]
WantedBy=multi-user.target
