[Unit]
Description=Create User-State-Private link
Documentation=https://github.com/NethServer/dev/issues/8028

[Service]
User=%i
Type=oneshot
WorkingDirectory=~
ExecStart=bash -c '! [[ -d .local ]] && mkdir -vp .local'
ExecStart=bash -c '! [[ -e .local/state ]] && ln -sfv ../.config .local/state'
