[Unit]
Description=Prometheus node_exporter

[Service]
Type=forking
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=-/etc/nethserver/core.env
WorkingDirectory=/var/lib/nethserver/node/state
Restart=always
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/%N.pid \
    --cidfile %t/%N.cid \
    --cgroups=no-conmon \
    --replace \
    --log-opt=tag=${MODULE_ID} \
    --name %N \
    --network=host \
    --pid=host \
    -d \
    -v /:/host:ro,rslave \
    ${NODE_EXPORTER_IMAGE} \
    --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/) \
    --path.rootfs=/host
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid

[Install]
WantedBy=default.target
