[Unit]
Description=Prometheus node_exporter
Wants=refresh-node-info.service

[Service]
Type=forking
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-/etc/nethserver/core.env
WorkingDirectory=/var/lib/nethserver/node/state
Restart=always
RestartSec=3
TimeoutStartSec=120
# node_exporter exits with 143 on SIGTERM:
SuccessExitStatus=143
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStartPre=/usr/bin/mkdir -p ./node_exporter
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/%N.pid \
    --cidfile %t/%N.cid \
    --cgroups=no-conmon \
    --replace \
    --name %N \
    --network=host \
    --pid=host \
    -d \
    -v /:/host:ro,rslave \
    --volume=./node_exporter:/srv/node_exporter:z \
    ${NODE_EXPORTER_IMAGE} \
    --collector.cpu.info \
    --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/) \
    --collector.textfile.directory=/srv/node_exporter \
    --log.level=error \
    --path.udev.data=/host/run/udev/data \
    --path.rootfs=/host
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid

[Install]
WantedBy=default.target
