[Unit]
Description=PhoneHome Trigger

[Timer]
OnCalendar=06:00
OnCalendar=14:00
OnCalendar=22:00
RandomizedDelaySec=2h

[Install]
WantedBy=timers.target
