[Unit]
Description=Promtail logs collector for Loki
After=redis.service

[Service]
Type=forking
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=-/etc/nethserver/core.env
Restart=always
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStartPre=mkdir -vp promtail
ExecStartPre=/usr/local/bin/runagent -m node /var/lib/nethserver/node/bin/generate-promtail-config
ExecStart=/usr/bin/podman run \
    --conmon-pidfile=%t/%N.pid \
    --cidfile=%t/%N.cid \
    --cgroups=no-conmon \
    --replace \
    --name=%N \
    --privileged \
    --network=host \
    --detach \
    --volume=/etc/machine-id:/etc/machine-id \
    --volume=./journal:/var/log/journal \
    --volume=./promtail:/etc/promtail:z \
    --volume=promtail-position:/var/lib/promtail:z \
    ${PROMTAIL_IMAGE} \
    -config.file=/etc/promtail/config.yml
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid
WorkingDirectory=/var/lib/nethserver/node/state
SyslogIdentifier=%N

[Install]
WantedBy=default.target
