[Unit]
Description=Rclone WebDAV server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=OPTIONS=
EnvironmentFile=/etc/nethserver/core.env
EnvironmentFile=-/var/lib/nethserver/node/state/rclone-webdav.env
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStart=/usr/bin/podman run \
    --conmon-pidfile=%t/%N.pid \
    --cidfile=%t/%N.cid \
    --cgroups=no-conmon \
    --detach \
    --log-opt=tag=%N \
    --replace --name=%N \
    --network=host \
    --user=restic:restic \
    --volume=restic-data:/srv/repo:z \
    --entrypoint=[] \
    ${RESTIC_IMAGE} rclone serve webdav /srv/repo --addr :4694 $OPTIONS

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
PIDFile=%t/%N.pid
Type=forking

[Install]
WantedBy=default.target
