[Unit]
Description=node_exporter textfile collector runner
After=node_exporter.service
BindsTo=node_exporter.service

[Service]
Type=simple
WorkingDirectory=/var/lib/nethserver/node/state
ExecStartPre=/bin/rm -f ./node_exporter/node-info.prom
ExecStart=runagent -m node refresh-node-info -l 60
ExecStopPost=/bin/rm -f ./node_exporter/node-info.prom
SyslogIdentifier=%N
