[Unit]
Description=System inventory synchronization
After=apply-updates.service

[Service]
Type=oneshot
ExecStart=runagent send-inventory
SyslogIdentifier=%N
