[Unit]
Description=Send the system inventory remotely
After=apply-updates.service

[Service]
Type=oneshot
ExecStart=runagent send-inventory
SyslogIdentifier=%N
