[Unit]
Description=Store the encrypted cluster backup remotely
ConditionPathExists=/var/lib/nethserver/cluster/state/backup/passphrase

[Service]
Type=oneshot
ExecStart=runagent cluster-backup
ExecStart=runagent send-cluster-backup
SyslogIdentifier=%N
