[Unit]
Description=Module control agent
Requires=module-init.service
After=module-init.service

[Service]
Type=simple
Environment=REGISTRY_AUTH_FILE=/usr/local/etc/registry.json
Environment=VIRTUAL_ENV=/usr/local/share/agent
Environment=PATH=/usr/local/share/agent/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
ExecStartPre=/usr/bin/mkdir -p %S/module-events %h/module-events
WorkingDirectory=/usr/local/share/agent
ExecStart=/usr/bin/env python3 service.py %u %S/module-events %h/module-events
Restart=always
StartLimitInterval=60
StartLimitBurst=12
RestartSec=5

[Install]
WantedBy=default.target
