[Unit]
Description=Rootfull %i module control agent
Requires=module-init@%i.service
After=module-init@%i.service

[Service]
Type=notify
Environment=REGISTRY_AUTH_FILE=/usr/local/etc/registry.json
Environment=VIRTUAL_ENV=/usr/local/share/agent
Environment=PATH=/usr/local/share/agent/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=AGENT_STARTUP_EVENT=module.init
Environment=MODULE_STATE=/var/local/%i
Environment=MODULE_ROOT=/var/local/%i
Environment=MODULE_ID=%i
EnvironmentFile=-/var/local/%i/module-agent.env
ExecStartPre=/usr/bin/mkdir -p /var/local/%i/module-events /var/local/%i/module-events-custom
WorkingDirectory=/usr/local/share/agent
ExecStart=/usr/bin/env python3 service.py %i /var/local/%i/module-events /var/local/%i/module-events-custom
TimeoutStartSec=300
ExecStartPost=/usr/bin/bash -c "echo AGENT_STARTUP_EVENT= > /var/local/%i/module-agent.env"
Restart=always
StartLimitInterval=60
StartLimitBurst=12
RestartSec=5

[Install]
WantedBy=multi-user.target
