[Unit]
Description=Node control agent

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /var/lib/agent/node-events
ExecStart=/usr/local/share/agent/bin/python3 /usr/local/share/agent/service.py /usr/local/share/agent/node-events /var/lib/agent/node-events
Restart=always
StartLimitInterval=60
StartLimitBurst=12
RestartSec=5

[Install]
WantedBy=multi-user.target
