[Unit]
Description=Create the Restic server control plane container
Documentation=https://github.com/DavidePrincipi/ns8-scratchpad
ConditionPathExists=!%S/restic-server.cid

[Service]
Type=oneshot
ExecStart=/usr/bin/podman create \
    --cgroups=disabled \
    --conmon-pidfile=%t/restic-server.pid \
    --cidfile=%S/restic-server.cid \
    --replace --name restic-server \
    --volume=restic-server-data:/data \
    --publish 127.0.0.1:8383:8000 \
    --env OPTIONS="--no-auth --debug" \
    docker.io/restic/rest-server
