[Unit]
Description=Export acme.json changes

[Service]
Type=simple
ExecStart=/usr/local/bin/runagent export-certificate %h/.local/share/containers/storage/volumes/traefik-acme/_data/acme.json
