[Unit]
Description=Traefik edge proxy
Wants=certificate-exporter.path
Before=certificate-exporter.path

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
ExecStartPre=/bin/rm -f %t/traefik.pid %t/traefik.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/traefik.pid \
    --cidfile=%t/traefik.ctr-id \
    --cgroups=no-conmon \
    --network=host \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=traefik-acme:/etc/traefik/acme \
    --volume=./traefik.yaml:/etc/traefik/traefik.yaml:Z \
    ${TRAEFIK_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/traefik.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/traefik.ctr-id
PIDFile=%t/traefik.pid
Type=forking
WorkingDirectory=%S/state

[Install]
WantedBy=default.target
