@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss";
@import "~carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "~carbon-components/scss/globals/scss/typography.scss";
@import "~carbon-components/scss/globals/scss/vars.scss";
@import "./branding";

$breakpoint-x-large: 1311px;
$breakpoint-large: 1055px;
$breakpoint-medium: 671px;
$breakpoint-small: 319px;
$notification-drawer-width: 27rem;
$notification-drawer-width-small-screen: 16rem;
$app-drawer-width: 27rem;
$app-drawer-width-small-screen: 16rem;
$side-menu-width: 16rem;
$side-menu-collapsed-width: 3rem;
