@import "./carbon";
@import "./carbon-utils";

body {
  height: calc(100vh - 3rem);
  background-color: $ui-01;
}

.bx--content {
  background-color: $ui-01;
}

.bx--grid.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: $breakpoint-large) {
  // remove left margin because side menu is not shown on smaller screens
  #ns8-core .bx--content {
    margin-left: 0;
  }
}

a {
  cursor: pointer;
}

.bx--link:hover {
  color: $link-02;
}

.notification {
  margin-top: 3rem;
}

.mg-bottom-md {
  margin-bottom: $spacing-05 !important;
}

.mg-bottom-sm {
  margin-bottom: $spacing-03 !important;
}

@media (max-width: $breakpoint-medium) {
  // reduce product name font size and padding on smaller screens
  .cv-header .cv-header-name {
    font-size: 0.8rem;
    padding-right: $spacing-05;
  }
}

.page-title {
  margin-top: $spacing-07;
  margin-bottom: $spacing-06;
}

// used for secondary pages (e.g. where breadcrumb is shown)
.page-subtitle {
  margin-top: $spacing-06;
  margin-bottom: $spacing-05;
}

h4 {
  margin-bottom: $spacing-05;
}

.breadcrumb {
  margin-top: $spacing-06;
}

@media (max-width: 42rem) {
  .bx--breadcrumb {
    display: flex;
    flex-wrap: wrap;
  }
}

.toolbar {
  display: flex;
  // justify-content: flex-end; ////
  align-items: center;
}

.title-and-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-tile {
  //// remove
  margin-bottom: $spacing-05;
}

.cv-tile {
  margin-bottom: $spacing-07;
}

@media (max-width: $breakpoint-medium) {
  .cv-tile {
    margin-bottom: $spacing-05;
  }
}

.title-description {
  color: $text-02;
  margin-top: $spacing-03;
}

.icon-and-text {
  display: flex;
  align-items: center;
}

.icon-and-text .icon {
  margin-right: $spacing-03;
}

.empty-state-button {
  margin-top: $spacing-05;
}

// ghost button on dark background
.ghost-button-dark-bg {
  color: $inverse-link;
}

.ghost-button-dark-bg:hover {
  background-color: $hover-secondary;
  color: $inverse-link;
}
// end ghost button on dark background

// status badges
.badge-container {
  display: flex;
  align-items: center;
}

.badge-container .green-badge {
  height: 8px;
  width: 8px;
  background-color: $inverse-support-02;
  border-radius: 50%;
  display: inline-block;
}

.badge-container .gray-badge {
  height: 8px;
  width: 8px;
  background-color: $ui-04;
  border-radius: 50%;
  display: inline-block;
}

.badge-container .yellow-badge {
  height: 8px;
  width: 8px;
  background-color: $support-03;
  border-radius: 50%;
  display: inline-block;
}

.left-badge {
  margin-right: $spacing-03;
}

.right-badge {
  margin-left: $spacing-04;
}
// end status badges

// global search, app drawer search
.global-search input,
.app-drawer-search input {
  background-color: $ui-05 !important;
  color: $ui-01 !important;
}

.global-search label,
.app-drawer-search label {
  display: none;
}

.global-search .bx--search-close,
.global-search .bx--search-button,
.app-drawer-search .bx--search-close,
.app-drawer-search .bx--search-button {
  fill: $ui-01;
}

.global-search .bx--search-close::before,
.global-search .bx--search-close:hover::before,
.app-drawer-search .bx--search-close::before,
.app-drawer-search .bx--search-close:hover::before {
  background-color: transparent;
}

.global-search .bx--search-close:hover,
.global-search .bx--search-button:hover,
.app-drawer-search .bx--search-close:hover,
.app-drawer-search .bx--search-button:hover {
  background-color: $hover-secondary;
}
// end global search, app drawer search

// fix cv-search icon
.cv-search.bx--form-item > div > svg {
  position: absolute;
  left: 1rem;
}

// app side menu
#ns8-app .app-content {
  margin-left: $side-menu-width;
}

@media (max-width: $breakpoint-large) {
  // core side menu is collapsed on smaller screens
  #ns8-app .app-content {
    margin-left: $side-menu-collapsed-width;
  }
}

.bx--side-nav.app-side-nav {
  background-color: $interactive-02;
}

.app-side-menu-content {
  color: $ui-01 !important;
}

.app-side-menu-content .bx--side-nav__icon.bx--side-nav__icon--small {
  color: $ui-01 !important;
}

.app-side-menu-content a.bx--side-nav__link > .bx--side-nav__link-text {
  color: $ui-01 !important;
}

.app-side-menu-content .cv-side-nav-item-link.bx--side-nav__link:hover {
  background-color: $ui-05 !important;
}

.app-side-nav .bx--side-nav__items {
  padding-top: 0;
}

.app-side-menu-content .instance-name {
  height: 3rem;
  padding-left: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.app-side-menu-content .current-page {
  background-color: $ui-05;
}

.app-side-menu-content .current-page a::before {
  background-color: $inverse-support-04;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  content: "";
}

@media (max-width: $breakpoint-large) {
  // collapse app side nav on smaller screens...
  .app-side-nav {
    width: $side-menu-collapsed-width;
  }

  // ...but expand it on hover
  .app-side-nav:hover {
    width: $side-menu-width;
  }

  // hide instance name when app side menu is collapsed
  .app-side-menu-content .instance-name {
    display: none !important;
  }
}
// end app side menu

// accordion for technical details of task error
.task-more-info {
  margin-top: $spacing-04;
}

.task-more-info .bx--accordion__content {
  padding-right: 1rem;
}
// end accordion for technical details of task error

// task error modal
.task-error-modal .bx--inline-notification__icon {
  margin-top: 0;
  margin-right: $spacing-02;
  fill: $support-04; // info color (low contrast)
}

.task-error-modal .bx--inline-notification__icon.aborted,
.task-error-modal .bx--inline-notification__icon.validation-failed {
  fill: $danger-01; // error color (low contrast)
}

.task-error-modal .bx--inline-notification__icon.completed {
  fill: $support-02; // success color (low contrast)
}

.task-error-modal .bx--inline-notification__icon.pending {
  fill: $support-03; // warning color (low contrast)
}

.task-error-modal .task-item {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
// end task error modal

// form
.cv-text-input,
.cv-form .bx--form-item,
.cv-form .cv-multi-select,
.ns-password-input {
  margin-bottom: $spacing-05;
}
// end form

// fix padding of number input
.bx--number input[type="number"] {
  padding-right: 5rem;
}

// data table
.bx--toolbar-search-container-expandable .bx--search {
  position: static;
  width: 3rem;
  width: var(--cds-layout-04, 3rem);
  height: 100%;
}

.bx--toolbar-search-container-expandable .bx--search .bx--search-magnifier {
  left: 0;
  width: 3rem;
  width: var(--cds-layout-04, 3rem);
  height: 3rem;
  height: var(--cds-layout-04, 3rem);
  padding: 1rem;
  padding: var(--cds-spacing-05, 1rem);
  cursor: pointer;
  -webkit-transition: background 0.11s cubic-bezier(0, 0, 0.38, 0.9);
  transition: background 0.11s cubic-bezier(0, 0, 0.38, 0.9);
  pointer-events: all;
}

.table-overflow-menu {
  margin: 0 auto;
}

// show data table pagination in smaller screens too
.cv-data-table
  .bx--pagination__left
  .cv-select.bx--form-item.bx--select__item-count {
  display: flex !important;
}
.cv-data-table .bx--pagination__right .bx--pagination__button {
  display: flex !important;
}
.cv-data-table .bx--pagination__right .bx--select__page-number {
  display: flex !important;
}
.cv-data-table .bx--pagination__right .bx--pagination__text {
  display: inline-block !important;
}
// end data table

// loader
.loader {
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid currentColor;
  border-right: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  animation: spin 0.5s linear infinite;
}

.loader-large {
  width: 3rem;
  height: 3rem;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top: 6px solid currentColor;
  border-right: 6px solid currentColor;
  border-bottom: 6px solid currentColor;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// end loader

// animation for expandable chevron
.toggle-expand > svg {
  transition: transform 110ms;
}

.toggle-expand.expanded > svg {
  transform: rotate(180deg);
}
// end animation for expandable chevron

// modal with full-width content
.no-pad-modal .bx--modal-content {
  padding-right: 1rem !important;
}

// branding colors for NsProgressBar
.progress-bar-container .line,
.progress-bar-container .progress-line,
.progress-bar-container .indeterminate-line,
.progress-bar-container .indeterminate-subline {
  background: $interactive-01;
}
// end branding colors for NsProgressBar

// colors for NsStatusCard and NsSystemdServiceCard
.status-card .success-icon,
.service-card .success-icon {
  color: $support-02;
}

.status-card .error-icon,
.service-card .error-icon {
  color: $danger-01;
}

.status-card .warning-icon,
.service-card .warning-icon {
  color: $support-03;
}
// end colors for NsStatusCard and NsSystemdServiceCard

// hint tooltip
.hint {
  width: 0;
  height: 0;
  position: relative;
}

.hint-button {
  margin-top: $spacing-05 !important;
}

.hint .bx--tooltip__trigger:not(.bx--btn--icon-only):focus {
  outline: none;
  fill: none;
}
// end hint tooltip

// info tooltip
.info.bx--tooltip__trigger svg,
.info.bx--tooltip__trigger:hover svg,
.bx--tooltip__trigger:focus svg {
  fill: $support-04;
}

.min-height-card {
  min-height: 9rem;
}

.bx--overflow-menu-options {
  z-index: 10000;
}

// NsNodeCard
.node-card .warning {
  color: $danger-01;
}
// end NsNodeCard

// styles for large devices
@media (min-width: $breakpoint-medium) {
  // limit form fields width on large devices
  .bx--text-input,
  .bx--text-input__field-wrapper,
  .cv-multi-select {
    max-width: 38rem;
  }
}

// warning for pages optimized for landscape mode (e.g. pages containing tables)
.landscape-warning {
  display: none;
}
@media (max-width: 639px) {
  // show warning only for screens smaller than 640px
  .landscape-warning {
    display: block;
  }
}
