@import "./carbon";
@import "./carbon-utils";

body {
  height: calc(100vh - 3rem);
}

#app {
  height: 100%;
  background-color: $ui-01;
}

@media (max-width: $breakpoint-large) {
  // remove left margin because side menu is not shown on smaller screens
  .bx--content {
    margin-left: 0 !important;
  }

  // core side menu is collapsed on smaller screens
  .app-content {
    margin-left: $side-menu-collapsed-width !important;
  }
}

a {
  cursor: pointer;
}

.bx--link:hover {
  color: $link-02;
}

.cv-text-input {
  margin-bottom: $spacing-05;
}

.notification {
  margin-top: 3rem;
}

.mg-top-bottom {
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
}

.mg-bottom-md {
  margin-bottom: $spacing-05 !important;
}

// vue-toastification
.Vue-Toastification__toast {
  border-radius: 0 !important;
  min-width: 16rem !important; //// use variable of small-screen notif width
}

.Vue-Toastification__container.top-right.toastification-container {
  top: 4rem;
  z-index: 7999;
}

.Vue-Toastification__toast--default.toastification-toast {
  background-color: transparent;
  padding: 0;
}

.bx--toast-notification .bx--inline-notification__action-button.bx--btn--ghost {
  // branding color
  color: $inverse-link;
}

.notification-drawer
  .cv-notifiation.bx--toast-notification.notification.notification-read {
  // branding color
  border-color: $ui-04;
}

.cv-notifiation.bx--toast-notification.notification {
  // let small screens use a narrow notification drawer
  min-width: 0 !important;
  // all notifications have the same width
  width: 25rem !important;
}

@media (max-width: $breakpoint-large) {
  .cv-notifiation.bx--toast-notification.notification {
    // reduce notifications width on medium screens
    width: 20rem !important;
  }

  .notification-drawer .cv-notifiation.bx--toast-notification.notification {
    width: 100% !important;
  }
}

@media (max-width: $breakpoint-medium) {
  .cv-notifiation.bx--toast-notification.notification {
    // reduce notifications width on medium screens
    width: 100% !important;
  }
}

.cv-notifiation .timestamp button {
  @include carbon--type-style("body-short-01");
  // branding color
  color: $active-ui;
}
// end vue-toastification

.page-title {
  margin-top: $spacing-07;
  margin-bottom: $spacing-06;
}

// used for secondary pages (e.g. where breadcrumb is shown)
.page-subtitle {
  margin-top: $spacing-06;
  margin-bottom: $spacing-05;
}

.breadcrumb {
  margin-top: $spacing-06;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-and-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-tile {
  margin-bottom: $spacing-05;
}

.empty-state-button {
  margin-top: $spacing-05;
}

// status badges
.badge-container {
  display: flex;
  align-items: center;
}

.badge-container .green-badge {
  height: 8px;
  width: 8px;
  background-color: $inverse-support-02;
  border-radius: 50%;
  display: inline-block;
}

.badge-container .gray-badge {
  height: 8px;
  width: 8px;
  background-color: $ui-04;
  border-radius: 50%;
  display: inline-block;
}

.badge-container .yellow-badge {
  height: 8px;
  width: 8px;
  background-color: $support-03;
  border-radius: 50%;
  display: inline-block;
}

.left-badge {
  margin-right: $spacing-03;
}

.right-badge {
  margin-left: $spacing-04;
}
// end status badges

// timestamp tooltip
.timestamp button span {
  background-color: $ui-05 !important;
}
.timestamp
  .bx--tooltip__trigger.bx--tooltip--bottom.bx--tooltip--align-center::before {
  border-bottom-color: $ui-05 !important;
}

// global search
.global-search input {
  background-color: $ui-05 !important;
  color: $ui-01 !important;
  margin-top: 3px; //// fix
}

.global-search label {
  display: none;
}

.global-search .bx--structured-list {
  margin-bottom: 0;
}

.global-search .search-results .bx--structured-list-td,
.global-search .search-results .empty-state {
  background-color: $ui-05 !important;
  color: $ui-01 !important;
}

.global-search
  .bx--structured-list.bx--structured-list--condensed
  .bx--structured-list-td,
.global-search
  .bx--structured-list.bx--structured-list--condensed
  .bx--structured-list-th {
  padding: $spacing-05 !important;
}

.global-search .bx--structured-list-row {
  border-color: #393939;
}
// end global search

// fix cv-search icon
.cv-search.bx--form-item > div > svg {
  position: absolute;
  left: 1rem;
}

// side menu
.bx--side-nav {
  background-color: $ui-05;
  color: $ui-01;
}

.bx--side-nav__submenu {
  color: $ui-01;
}

a.bx--side-nav__link > .bx--side-nav__link-text,
.bx--side-nav a.bx--header__menu-item .bx--text-truncate-end {
  color: $ui-01;
}

.bx--side-nav__menu a.bx--side-nav__link--current > span,
.bx--side-nav__menu a.bx--side-nav__link[aria-current="page"] > span,
a.bx--side-nav__link--current > span {
  color: $ui-01;
}

.bx--side-nav__icon > svg {
  width: 20px;
  height: 20px;
  fill: $ui-01;
}

.bx--side-nav__menu a.bx--side-nav__link--current,
.bx--side-nav__menu a.bx--side-nav__link[aria-current="page"],
a.bx--side-nav__link--current {
  background-color: $interactive-02;
}

.bx--side-nav__submenu:hover {
  color: $ui-01;
  background-color: $interactive-02;
}

.bx--side-nav__item:not(.bx--side-nav__item--active):hover
  .bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__submenu:hover,
.bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover,
.bx--side-nav__menu
  a.bx--side-nav__link:not(.bx--side-nav__link--current):not([aria-current="page"]):hover,
.bx--side-nav a.bx--header__menu-item:hover,
.bx--side-nav .bx--header__menu-title[aria-expanded="true"]:hover {
  color: $ui-01;
  background-color: $interactive-02;
}

.bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover
  > span,
.bx--side-nav__item:not(.bx--side-nav__item--active)
  .bx--side-nav__menu-item
  > .bx--side-nav__link:hover
  > span {
  color: $ui-01;
}

a.bx--side-nav__link[aria-current="page"]::before,
a.bx--side-nav__link--current::before {
  background-color: $inverse-support-04;
}

.bx--side-nav__submenu {
  height: 3rem;
}

.cv-side-nav-item-link.bx--side-nav__link {
  height: 3rem;
}

a.bx--side-nav__link[aria-current="page"],
a.bx--side-nav__link--current {
  background-color: $inverse-02;
}

a.bx--side-nav__link[aria-current="page"] .bx--side-nav__link-text,
a.bx--side-nav__link--current .bx--side-nav__link-text {
  color: $ui-01;
}

.bx--side-nav--rail {
  width: $side-menu-collapsed-width;
}
// end side menu

// app side menu
.app-content {
  margin-left: $side-menu-width !important;
}

.bx--side-nav.app-side-nav {
  background-color: $interactive-02;
}

.app-side-menu-content .cv-side-nav-item-link.bx--side-nav__link:hover {
  background-color: $ui-05 !important;
}

.app-side-nav .bx--side-nav__items {
  padding-top: 0;
}

.app-side-menu-content .current-page {
  background-color: $ui-05;
}

.app-side-menu-content .current-page a::before {
  background-color: $inverse-support-04;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  content: "";
}

@media (max-width: $breakpoint-large) {
  // collapse app side nav on smaller screens...
  .app-side-nav {
    width: $side-menu-collapsed-width;
  }

  // ...but expand it on hover
  .app-side-nav:hover {
    width: $side-menu-width;
  }

  // hide instance name when app side menu is collapsed
  .instance-name {
    display: none !important;
  }
}
// end app side menu

// app drawer
.app-drawer .bx--structured-list-td,
.app-drawer .empty-state {
  background-color: $ui-05 !important;
  color: $ui-01 !important;
}

.app-drawer
  .bx--structured-list.bx--structured-list--condensed
  .bx--structured-list-td,
.app-drawer
  .bx--structured-list.bx--structured-list--condensed
  .bx--structured-list-th {
  padding: $spacing-05 !important;
}

.app-drawer .bx--structured-list-row {
  border-color: #393939;
}

.app-drawer .bx--structured-list {
  margin-bottom: 0;
}
// end app drawer

// accordion for technical details of task error
.task-more-info {
  margin-top: $spacing-04;
}

.task-more-info .bx--accordion__content {
  padding-right: 1rem;
}
// end accordion for technical details of task error

// task error modal
.task-error-modal .bx--inline-notification__icon {
  margin-top: 0;
  margin-right: $spacing-02;
  fill: $support-04; // info color (low contrast)
}

.task-error-modal .bx--inline-notification__icon.aborted,
.task-error-modal .bx--inline-notification__icon.validation-failed {
  fill: $danger-01; // error color (low contrast)
}

.task-error-modal .bx--inline-notification__icon.completed {
  fill: $support-02; // success color (low contrast)
}

.task-error-modal .bx--inline-notification__icon.pending {
  fill: $support-03; // warning color (low contrast)
}

.task-error-modal .task-item {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
// end task error modal

// form
.cv-form .bx--form-item {
  margin-bottom: $spacing-05;
}

.cv-form .cv-multi-select {
  margin-bottom: $spacing-05;
}
// end form

// logs page
.logs-max-results {
  max-width: 12rem;
}

.bx--number input[type="number"] {
  padding-right: 5rem;
}
// end logs page

// data table
.bx--toolbar-search-container-expandable .bx--search {
  position: static;
  width: 3rem;
  width: var(--cds-layout-04, 3rem);
  height: 100%;
}

.bx--toolbar-search-container-expandable .bx--search .bx--search-magnifier {
  left: 0;
  width: 3rem;
  width: var(--cds-layout-04, 3rem);
  height: 3rem;
  height: var(--cds-layout-04, 3rem);
  padding: 1rem;
  padding: var(--cds-spacing-05, 1rem);
  cursor: pointer;
  -webkit-transition: background 0.11s cubic-bezier(0, 0, 0.38, 0.9);
  transition: background 0.11s cubic-bezier(0, 0, 0.38, 0.9);
  pointer-events: all;
}

.table-overflow-menu {
  margin: 0 auto;
}
// end data table

// loader
.loader {
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid currentColor;
  border-right: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// end loader

// animation for expandable chevron
.toggle-expand > svg {
  transition: transform 110ms;
}

.toggle-expand.expanded > svg {
  transform: rotate(180deg);
}
// end animation for expandable chevron

// modal with full-width content
.no-pad-modal .bx--modal-content {
  padding-right: 1rem !important;
}

// branding colors for NsProgressBar
.progress-bar-container .line,
.progress-bar-container .progress-line,
.progress-bar-container .indeterminate-line,
.progress-bar-container .indeterminate-subline {
  background: $interactive-01;
}
// end branding colors for NsProgressBar

// colors for NsStatusCard and NsSystemdServiceCard
.status-card .success-icon,
.service-card .success-icon {
  color: $support-02;
}

.status-card .error-icon,
.service-card .error-icon {
  color: $danger-01;
}

.status-card .warning-icon,
.service-card .warning-icon {
  color: $support-03;
}
// end colors for NsStatusCard and NsSystemdServiceCard

// styles for large devices
@media (min-width: $breakpoint-large) {
  // limit form fields width on large devices
  .bx--text-input,
  .bx--text-input__field-wrapper,
  .cv-multi-select {
    max-width: $breakpoint-medium;
  }
}
