[Unit]
Description=Podman pod-mail.service
Documentation=man:podman-generate-systemd(1)
Requires=container-dovecot.service container-nginx.service container-postfix.service
Before=container-dovecot.service container-nginx.service container-postfix.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Environment=REGISTRY_AUTH_FILE=/usr/local/etc/registry.json
EnvironmentFile=%h/module.env
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/pod-mail.pid %t/pod-mail.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/pod-mail.pid --pod-id-file %t/pod-mail.pod-id --network=slirp4netns:port_handler=slirp4netns --hostname=${HOSTNAME} --publish 25:25 --publish 587:587 --publish 143:143 --publish 110:110 --publish 4190:4190 --name mail --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/pod-mail.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/pod-mail.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/pod-mail.pod-id
PIDFile=%t/pod-mail.pid
Type=forking

[Install]
WantedBy=default.target
