[Unit]
Description=%u LDAP account provider local proxy
Documentation=man:podman-generate-systemd(1)

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/ldapproxy.pid %t/ldapproxy.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/ldapproxy.pid \
    --cidfile=%t/ldapproxy.ctr-id \
    --cgroups=no-conmon \
    --network=host \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=./nginx.conf:/etc/nginx/nginx.conf:Z \
    ${NGINX_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/ldapproxy.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/ldapproxy.ctr-id
PIDFile=%t/ldapproxy.pid
Type=forking
WorkingDirectory=%S/state

[Install]
WantedBy=default.target
