[Unit]
Description=Rootless module/%u agent
Documentation=https://nethserver.github.io/ns8-core/modules/agent/

[Service]
Type=simple
Environment=AGENT_INSTALL_DIR=%S
Environment=AGENT_STATE_DIR=%S/state
Environment=AGENT_ID=module/%u
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=-%S/state/agent.env
WorkingDirectory=%S/state
ExecStart=/usr/local/bin/agent \
    --agentid=${AGENT_ID} \
    --actionsdir=${AGENT_BASEACTIONS_DIR} \
    --actionsdir=${AGENT_INSTALL_DIR}/actions \
    --eventsdir=${AGENT_INSTALL_DIR}/events
Restart=always
SyslogIdentifier=agent@%u

[Install]
WantedBy=default.target transfer-state.target
