[Unit]
Description=API Module Daemon (AMLD)
ConditionPathExists=%E/state/api-moduled.env

[Service]
Type=simple
Environment=AMLD_HANDLER_DIR=%E/api-moduled/handlers
Environment=AMLD_PUBLIC_DIR=%E/api-moduled/public
Environment=AMLD_JWT_REALM=%u
Environment=GIN_MODE=release
EnvironmentFile=%E/state/api-moduled.env
WorkingDirectory=%E/state
ExecStart=/usr/local/bin/runagent /usr/local/bin/api-moduled
Restart=always
SyslogIdentifier=%N

[Install]
WantedBy=default.target
