name: dokuwiki
on:
  push:
    branches:
      - main
    paths:
      - 'dokuwiki/**'
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - 'dokuwiki/**'

jobs:
  push_image:
    env:
      REPONAME: ${{ github.workflow }}
      IMAGETAG: ${{ github.head_ref }}
    name: 'Build ${{ github.workflow }}'
    runs-on: ubuntu-20.04
    steps:
      - id: info
        name: "Retrieve runtime information"
        run: |
          echo "::set-output name=org::$(dirname ${GITHUB_REPOSITORY} | tr '[:upper:]' '[:lower:]')"
      - id: checkout
        uses: actions/checkout@v2
      - id: yarn-cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ github.workflow }}/ui/node_modules
          key: "yarn-${{ hashFiles(format('{0}/**/yarn.lock', github.workflow)) }}"
      - id: build
        name: "Build the images"
        run: "cd ${REPONAME} && bash build-image.sh"
        env:
          REPOBASE: ghcr.io/${{ steps.info.outputs.org }}

      - id: push
        name: "Push the images"
        run: |
          # Push the images
          set -e
          trap 'buildah logout ghcr.io' EXIT
          buildah login -u ${{ github.actor }} --password-stdin ghcr.io <<<"${{ secrets.GITHUB_TOKEN }}"
          for image in ${{ steps.build.outputs.images }} ; do buildah push $image docker://${image}:${IMAGETAG:-latest} ; done
