[Unit]
Description=Rootless %u module initialization
ConditionDirectoryNotEmpty=!%S/module-events

[Service]
Type=oneshot
Environment=REGISTRY_AUTH_FILE=/usr/local/etc/registry.json
Environment=VIRTUAL_ENV=/usr/local/share/agent
Environment=PATH=/usr/local/share/agent/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
WorkingDirectory=~
ExecStart=/usr/bin/env module-init %u
