// Copy this file, remove ".sample" suffix from your copy and adjust configuration below to your needs
window.CONFIG = {
  PRODUCT_NAME: "NethServer 8",
  PRODUCT_URL: "https://www.nethserver.org/",
  DOCS_URL: "https://www.nethserver.org/documentation/",
  HELPDESK_URL: "https://www.nethserver.org/documentation/",
  COMPANY_NAME: "Nethesis",
  COMPANY_URL: "https://www.nethesis.it/",
  API_ENDPOINT: "yourNs8Host/cluster-admin/api", // Replace yourNs8Host with an IP address or a host name
  API_SCHEME: "https://",
  WS_ENDPOINT: "wss://yourNs8Host/cluster-admin/ws", // Replace yourNs8Host with an IP address or a host name
};
