// Remove .sample suffix from file name and adjust configuration below to your needs
window.CONFIG = {
  PRODUCT_NAME: "NethServer 8",
  PRODUCT_URL: "https://example.org/",
  DOCS_URL: "https://example.org/",
  HELPDESK_URL: "https://example.org/",
  COMPANY_NAME: "Your Company",
  COMPANY_URL: "https://example.org/",
  API_ENDPOINT:
    window.location.hostname +
    (window.location.port ? ":" + window.location.port : "") +
    window.location.pathname +
    "api",
  API_SCHEME: window.location.protocol + "//",
  WS_ENDPOINT:
    "wss://" +
    window.location.hostname +
    (window.location.port ? ":" + window.location.port : "") +
    window.location.pathname +
    "ws",
};
